zadanie/obj/*
zadanie/.vs/*
zadanie/.bin/*
NUnitTestProject1/bin/*
NUnitTestProject1/obj/*
TestyKalkulatora/bin/*
TestyKalkulatora/obj/*
zadanie/bin/*
Kalkulejtor/bin/*
Kalkulejtor/obj/*
KalkulejtorUI/bin/*
KalkulejtorUI/obj/*